<section class="first-block d-flex align-items-center" id="first-block">
  <div class="container px-4 px-lg-5 text-center">
    <div class="scale-down-center">
      <h3 class="mb-5 text-white"><em> Comodidad fitness para ti.</em></h3>
      <h3 class="text-white"><em>Diseños únicos para una personalidad única</em></h3>
      <a class="btn button-bg px-5 btn-xl btn-lg mt-5 title-animation" href="/">Compra Ahora</a>
    </div>
  </div>
</section>
