.first-block {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(337deg, rgba(0, 0, 0, 0.9) -40%, rgba(17, 8, 8, 0.6) 100%), url("/assets/main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .button-bg {
    background-color: white;
  }
  
  @media (min-width: 992px) {
    .first-block {
      height: 100vh;
    }
  }
  
  @keyframes scale-down-center {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.5);
    }
  }
  
  .scale-down-center {
    animation: scale-down-center 900ms ease-in-out 1s alternate-reverse both;
  }
  
  @keyframes bounce-title {
    0%,
    20%,
    50%,
    80%,
    100% { transform: translateY(0); }
    40% { transform: translateY(35px); }
    60% { transform: translateY(50px); }
  }
  
  .title-animation {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-name: bounce-title;
  }

.tops {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("/assets/tops.jpg");
}

.leggings {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("/assets/leggingsss.jpg");
}

.headbands {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("/assets/headband.jpg");
}

.sets {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("/assets/sets.jpg");
}

.product-card {
  overflow: hidden;
  background: #fff;
  cursor: default;
  transition: all 400ms ease;
}

.product-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2%);
}


@media (max-width: 992px) {
  .product-card {
     margin-top: 2rem;
     margin-bottom: 2rem;
     border-radius: 30px;
     box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  .bg-products {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("/assets/bg-products.jpg");
  }
}
